* {
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #f6f7fb;
}

.height-custom {
  height: 50vh;
}

.container {
  margin: auto;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress-step {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle-steps {
  width: 30px;
  text-align: center;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
  background: white;
  transition: 0.4s ease;
}

.circle-steps.active {
  border-color: #3498db;
}

.btn-step {
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  background-color: #3498db;
}

.circle-steps.active {
  border-color: #3498db;
}

.wrap-btn {
  text-align: center;
  margin-top: 50px;
}

.btn-step:active {
  transform: scale(0.98);
}

.btn-step:focus {
  outline: 0;
}

.btn-step:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
